@use 'settings';

.white, .brown, .green {
  padding: 0.2em;
  border-radius: 0.2em;
}

.green {
  background-color: green;
  color: yellow;
}

.brown {
  background-color: rgb(121, 68, 0);
  color: white;
}

.white {
  background-color: white;
  color: black;
}
