@use 'settings';

.green {
  background-color: green;
  color: yellow;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
}

.brown {
  background-color: rgb(121, 68, 0);
  color: white;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
}

.white {
  background-color: white;
  color: black;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
}
