<div data-jarallax data-speed="0.25" class="jarallax background" style="background-image: url('{{ site.url }}/assets/images/background_hongkong.jpg');">
  <div class="center-object">
    <section class="me">
      <a href="/">
        <div class="content">
          <img class="image-title" src="{{ site.url }}/assets/images/logo.png">
          <div class="text-content">
            <h1 class="title">Discord Botlist</h1>
            <p class="undertitle">The list you fork to add your bot to.</p>
          </div>
        </div>
      </a>
      <div class="buttons">
        <a class="btn blue" href="{{ site.data.links.github }}">Add your bot</a>
        <a class="btn orange" href="{{ site.data.links.discord }}">Discord server</a>
      </div>
      {% if page.search == true %}<input id="search" type="text" placeholder="Search.." autocomplete="off">{% endif %}
    </section>
  </div>
</div>

