<div id="modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h1>Thanks!</h1>
    <h2>Having problems?</h2>
    <ul>
      <li><a href="/docs/bot-no-servers">There's nothing to select in the "Select a server" dropdown</a></li>
      <li><a href="/docs/bot-private-error">"The bot is private. Only the bot owner can add it."</a></li>
      <li><a href="/docs/bot-requires-code-grant">"Bot requires code grant"</a></li>
      <li><a href="/docs/bot-unknown-error">"UNKNOWN_ERROR"</a></li>
    </ul>
    <p>You can always join us at <a href="{{ site.data.links.discord }}">Discord</a> if you need more help.</p>
    <p><small>This window will close itself when you close the Discord bot invite screen, or you click the &times; button</small></p>
  </div>
</div>
