<section class="fullscreen half">
  <div data-jarallax data-speed="0.25" class="background" style="background-image: url('{{ site.data.config.categories[page.type].parallax }}');"></div>
  <div class="center-object">
    <a href="{{ site.data.config.categories[page.type].path }}">
      <section class="me unset">
        <img draggable="false" src="{{ site.url }}/assets/images/logo.png" class="image-title" style="margin-right: .5em;">
        <div>
          <h1 class="title no-margin white-text">{{ site.data.config.categories[page.type].pagename }}</h1>
          <span class="undertitle white-text">{{ site.data.config.categories[page.type].description }}</span>
        </div>
      </section>
    </a>
    <div class="buttons">
      <a class="btn peter-river" target="_blank" href="{{ site.data.config.categories[page.type].contribute }}">{{ site.data.config.categories[page.type].add }}</a>
      <a class="btn orange" target="_blank" href="{{ site.data.links.discord }}">Terminal.ink Discord</a>
    </div>
    {% if page.search == true %}
      <div class="center">
        <input id="search" type="text" placeholder="Search.." autocomplete="off">
      </div>
    {% endif %}
  </div>
  <!-- <div id="fade" class="arrow bounce"></div> -->
</section>
