<div data-jarallax data-speed="0.25" class="jarallax background"></div>
<div class="center-object">
  <section class="me">
    <a href="/">
      <div class="content">
        <img class="image-title" src="{{ site.url }}/assets/images/logo.png">
        <div class="text-content">
          <h1 class="title">Discord Botlist</h1>
          <p class="undertitle">The list you fork to add your bot to.</p>
        </div>
      </div>
    </a>
    <div class="buttons">
      <a class="btn blue" href="https://github.com/AlexFlipnote/Discord_Bots">Add your bot</a>
      <a class="btn orange" href="https://discord.gg/DpxkY3x">Discord server</a>
    </div>
    <input id="search" type="text" placeholder="Search.." autocomplete="off">
  </section>
</div>
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
