<server id="{{ server.server_id | xml_escape | replace: site.data.strings.newline, '\n' }}">
    <server_id>{{ server.server_id | xml_escape | replace: site.data.strings.newline, '\n' }}></server_id>
    <name>{{ server.servername | xml_escape | replace: site.data.strings.newline, '\n' }}</name>
    <description>{{ server.description | xml_escape | strip_html | truncate:60 | replace: site.data.strings.newline, '\n' }}</description>
    <long_description>{% if server.long_description %}{{ server.long_description | xml_escape | replace: site.data.strings.newline, '\n' }}{% else %}{% endif %}</long_description>
    <url_safe>{{ server.servername | xml_escape | downcase | replace:' ', '' | replace: site.data.strings.newline, '\n' }}</url_safe>
    <avatar>{{ server.avatar | xml_escape | replace: site.data.strings.newline, '\n' }}</avatar>
    <link>{{ server.link | xml_escape | replace: site.data.strings.newline, '\n' }}</link>
    <verified>{% if server.verified %}{{ server.verified | xml_escape | replace: site.data.strings.newline, '\n' }}{% else %}false{% endif %}</verified>
    <nsfw>{{ server.nsfw | xml_escape | replace: site.data.strings.newline, '\n' }}</nsfw>
</server>