<section class="fullscreen half">
  <div data-jarallax data-speed="0.25" class="background" style="background-image: url('{{ site.url }}/assets/images/background_hongkong.jpg');"></div>
  <div class="center-object">
    <a href="/servers">
      <section class="me unset">
        <img draggable="false" src="{{ site.url }}/assets/images/logo.png" class="image-title" style="margin-right: .5em;">
        <div>
          <h1 class="title no-margin white-text">Discord Server List</h1>
          <p class="undertitle white-text">The list you fork to add your server to.</p>
        </div>
      </section>
    </a>
    <div class="buttons">
      <a class="btn peter-river" href="{{ site.data.links.github }}">Add your server</a>
      <a class="btn orange" href="{{ site.data.links.discord }}">Discord server</a>
    </div>
    {% if page.search == true %}
      <div class="center">
        <input id="search" type="text" placeholder="Search.." autocomplete="off">
      </div>
    {% endif %}
  </div>
  <!-- <div id="fade" class="arrow bounce"></div> -->
</section>
