body {
  background: #101010;
  display: flex;
  flex-direction: column;
}

.fullscreen.half .background {
  height: 50vh;
}

.container {
  flex-grow: 1;
  img {
    max-width: 100%;
  }
}

// Front page + inside
.nsfw { filter: blur(5px); }
.nsfw-tag {
  background: #e74c3c;
  border-radius: 3px;
  color: #fff;
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 38px;
  margin-left: 6px;
  padding: 2px 3px;
  text-transform: uppercase;
  vertical-align: bottom;
}

// Verified tag
.verified {
  color: #2ecc71;
  text-shadow: 0 0 10px #2ecc71;
}


// Profile card
.card.profile {
  background: transparent;
  box-shadow: none;
  margin-top: 2.5em;
  width: 100%;

  .avatar, .link { background: transparent; }

  .avatar {
    padding: 0;
    img { width: 10em; }
  }

  .name {
    font-size: 3em;
    margin: 0;
    padding: 0;

    .nsfw-tag {
      font-size: 16px;
      line-height: 50px;
      margin-left: 0;
    }
  }

  .description {
    color: #eee;
    font-size: 1.5em;
  }
}


// Searchbar on index
input#search {
  background: #ddd;
  border: 0;
  border-radius: 10px;
  color: #63717f;
  font-size: 10pt;
  height: 50px;
  margin-top: .6em;
  width: 300px;
}

.card-container .card {
  width: 310px;
  font-family: 'Montserrat', sans-serif;

  &.profile {
    width: 90%;
    margin-bottom: 1em;
  }

  &.hidden {
    background-color: transparent;
    color: transparent;
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
  }
}

// Modal
.modal-content {
  h2 {
    font-size: 16pt;
  }

  a {
    color: #1EAEDB;
  }

  li {
    list-style: none;
  }
}

// Docs page
.nav-container {
  #menu-icon {
    z-index: 100;
  }
  .nav-content {
    padding-left: 62px;
    width: calc(100% - 62px); // The width of the nav button
    a {
      color: #FFFFFF;
    } 
  }
  .sidenav {
    width: 250px;
  }
}

.btn .github-logo {
  vertical-align: text-bottom;
  height: 21px;
}
