.ls-text-editor {
  @media (max-width: 600px) {
    .ls-monaco {
      display: none !important;
    }
  }
  
  @media (min-width: 601px) {
    .ls-not-monaco {
      display: none !important;

      textarea {
        display: none !important;
      }
    }
  }
  
  .ls-not-monaco {
    textarea {
      height: 40vh;
    }
  }
}
