table {
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0;
  color: #000;
  tr {
    border-collapse: collapse;
    padding: 5px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0px;
  }
  th {
    font-weight: 700;
  }
}

.nav-container {
  display: block;
}

