@use 'settings';

.header {
  background-color: settings.primaryDepth(1);
}

.title, .links {
  font-family: settings.$main-font;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.links {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.title {
  padding: 0.5em 0;
  font-size: 2em;
  display: block;
}
