body, .main-window, [data-reactroot], #___gatsby {
  height: 100vh;
}

body, .card-container .card {
  font-family: 'Montserrat', 'Noto Sans', 'Calibri', 'Arial', 'Helvetica', sans-serif;
}

.main-window {
  display: flex;
  flex-direction: column;
}

.main-content-container {
  flex-grow: 1;
}

.nsfw-tag {
  background: #7d2c23;
  border-radius: 3px;
  color: #fff;
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 38px;
  margin-left: 6px;
  padding: 2px 3px;
  text-transform: uppercase;
  vertical-align: bottom;
}

.fork-blue {
  color: #3498db;
}

button.btn {
  box-shadow: unset !important;
}

.ls-text-editor {
  @media (max-width: 600px) {
    .ls-monaco {
      display: none !important;
    }
  }
  
  @media (min-width: 601px) {
    .ls-not-monaco {
      display: none !important;

      textarea {
        display: none !important;
      }
    }
  }
  
  .ls-not-monaco {
    textarea {
      height: 40vh;
    }
  }
}

.fork-locale-button {
  font-size: 10em;
}
