@use 'settings';

.links {
  position: relative;
  display: inline-grid;
  @include settings.motorway;
  flex-direction: column;
  padding: 1em;
  border-radius: 0.7em;
  gap: 0.5em;
  grid-gap: 0.5em;
  font-family: settings.$main-font;

  box-shadow:
    inset 0 0 0 0.1em rgb(0, 121, 193),
    inset 0 0 0 0.3em white;

  a {
    text-decoration: none;
    color: white;
  }
}
