.slick-slider {
  .slick-dots {
    li button {
      box-shadow: unset;
      &:before {
        color: #FFFFFF;
      }
    }
    li.slick-active button {
      box-shadow: unset;
      &:before {
        color: #FFFFFF;
      }
    }
  }
}
