@mixin dropshadow($colour) {
  $shadow: drop-shadow(5px 5px 0 rgba($colour, .6));

  background-color: $colour;
  filter: $shadow;

  &:hover {
    filter: $shadow brightness(50%);
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: .5em;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  white-space: nowrap;

  &.green { @include dropshadow(#2ecc71); }
  &.orange { @include dropshadow(#e67e22); }
  &.blue { @include dropshadow(#3498db); }

  &:hover {
    color: #fff;
    transition: all 350ms ease;
  }
}
