.rowcard {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  background-color: #282828;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2),
              0 0 0 1px rgba(32, 34, 37, .6);
  display: block;
  font-family: arial;
  margin: auto;
  margin-top: 2em;
  max-width: 325px;
  text-align: center;

  .avatar {
    background-color: #181818;
    border-radius: 6px 6px 0 0;
    padding: .5em 0;

    img {
      border-radius: 100%;
      width: 7em;
    }
  }

  .name {
    font-size: 26px;
    margin-top: .2em;
  }

  .description {
    color: #808080;
    font-size: 18px;
    margin: 0 .3em;
  }

  .link {
    background-color: #303030;
    border-radius: 0 0 6px 6px;
    display: block;
    margin-top: .25em;
    padding: .6em 0;

    a {
      color: #fff;
      font-size: 14px;
      margin: 0 .15em;
      margin-bottom: .3em;
      text-decoration: none;
    }
  }
}
