html { margin: 0; }
body {
  background: #303030;
  display: flex;
  flex-direction: column;
}
b, a { color: #14bae4; }
b, p, a { font-size: 1.1em; }
a { text-decoration: none; }
p { color: rgba(255, 255, 255, .6); }

a, html, body, h1, h2, h3, h4, p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
}

.center-text { text-align: center; }

.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  color: transparent;
  background-color: transparent;
}
