<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include intro.html %}

    <section class="container">
      <div class="center-text card-container">
        <section class="card profile">
          <div class="avatar">
            <img id="avatar" class="avatar{% if page.nsfw == true %} nsfw{% endif %}" src="{{ page.avatar }}">
          </div>
          <h2 class="name {% if page.verified == true %}verified{% endif %}">
            {{ page.pagename }}
            {% if page.nsfw == true %}<span class="nsfw-tag">NSFW</span>{% endif %}
          </h2>
          <div class="link buttons">
            {% if page.link and page.type == 'bots' %}
              <a id="invite" class="btn emerald" href="#" >{{ site.data.config.categories[page.type].invite }}</a>
            {% elsif page.link %}
              <a id="invite" class="btn emerald" href="{{ page.link }}" target="_blank">{{ site.data.config.categories[page.type].invite }}</a>
            {% endif %}
            {% if page.github and page.github.owner and page.github.repo %}
              <a id="github" class="btn peter-river" href="https://github.com/{{ page.github.owner }}/{{ page.github.repo }}" target="_blank">View on GitHub</a>
            {% elsif page.github and page.github.owner %}
              <a class="btn peter-river" href="https://github.com/{{ page.github.owner }}" target="_blank">View on GitHub</a>
            {% endif %}
            {% if page.support %}<a class="btn orange" href="{{ page.support | replace: site.data.strings.newline, '\n' | replace: site.data.strings.quote_mark, '%22'}}" target="_blank">{{ page.name }} Discord Server</a>{% endif %}
          </div>
          <span class="description">
            {% if page.prefix %}
              <p><small>Prefix: {{ page.prefix }}</small></p>
            {% endif %}
            <p>
              {% if page.long_description %}
                {{ page.long_description }}
              {% else %}
                {{ page.description }}
              {% endif %}
            </p>
          </span>
        </section>
      </div>
      <div class="custom-content">
        {{ content }}
      </div>
    </section>
    {% if page.github and page.github.owner and page.github.repo %}
    <script>
      fetch('https://api.github.com/repos/{{ page.github.owner }}/{{ page.github.repo }}')
        .then(data => data.json())
        .then(repo => {
          const githubButton = document.getElementById('github');
          if (repo.stargazers_count && repo.stargazers_count === 1) {
            githubButton.innerText = '1 star on GitHub';
          } else {
            githubButton.innerText = `${repo.stargazers_count} stars on GitHub`
          }

        });
    </script>
    {% endif %}
    {% if page.type == 'bots' and page.link %}
    {% include botmodal.html %}
    <script src="/assets/js/item.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/modal.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}

    {% include footer.html %}
  </body>
</html>
