<head>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include serverintro.html %}
    <script>
      $(".background").height("32%");
      $(".center-object").css("top", "16%");
      $("#search").remove();
    </script>

    <section class="container">
      <div class="rowcard center-text">
        <section class="card profile">
          <div class="avatar">
            <img class="avatar {% if page.nsfw == true %}nsfw{% endif %}" src="{{ page.avatar }}">
          </div>
          <h2 class="name {% if page.verified == true %}verified{% endif %}">
            {{ page.servername }}
            {% if page.nsfw == true %}<span class="nsfw-tag">NSFW</span>{% endif %}
          </h2>
          <span class="description">
            {% if page.long_description %}
              {{ page.long_description }}
            {% else %}
              {{ page.description }}
            {% endif %}
          </span>
          <div class="link buttons">
            <a class="btn green" href="{{ page.link }}" target="_blank">Join server</a>
          </div>
        </section>
      </div>
      <div class="custom-content">
        {{ content }}
      </div>
    </section>
  </body>
</head>
