@use 'settings';

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Medium.woff');
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Light.woff');
  font-weight: lighter;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Heavy.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Medium.woff');
  font-style: italic;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-LightItalic.woff');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-HeavyItalic.woff');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-size: 1.3em;
  font-family: settings.$main-font;
}
