$primary: #eeeeee;
$user-font: 'Arial', sans-serif;

@mixin primary-road {
  background-color: rgb(0, 112, 60);
  color: rgb(255, 210, 0);
}

@mixin attraction {
  background-color: rgb(121, 68, 0);
  color: white;
}

@mixin non-primary-road {
  background-color: white;
  color: black;
}

@mixin motorway {
  background-color: rgb(0, 121, 193);
  color: white;
}

// DO NOT USE `$main-font` FOR USER GENERATED CONTENT
// The licence for this font does not allow for this.
$main-font: 'Transport New', #{$user-font};

@function colourDepth($colour, $depth) {
  @return darken($colour, ($depth * 5%));
}

@function primaryDepth($depth) {
  @return colourDepth($primary, $depth)
}
